.card-16 {
  padding: $size-16;
  border-radius: $size-8;

  &.blue-card {
    background-color: $dull-white;
  }
  h4 {
    color: $dark-grey;
    font-size: $font-14;
    font-weight: 700;
    margin-bottom: $size-16;
  }
  p {
    color: $dark-blue;
    font-size: $font-16;
    font-weight: 400;
    margin-bottom: $size-16;
  }
}
