@import "../../../../styles.scss";

.requested-leave-btn {
  border: 1px solid $dark-grey-l2;
  border-radius: $size-8;
  height: 40px;
  color: $dark-blue;
  font-size: 0.875rem;
  line-height: inherit;
  mat-icon {
    margin-right: $size-4;
    font-size: $font-20;
    color: $dark-grey;
    line-height: 14px;
  }
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
}

.apply-leave-btn {
  background: $red;
  border: 1px solid $dark-grey-l2;
  border-radius: $size-8;
  float: right;
  color: $white !important;
  font-size: $font-14;
}

.active-btn {
  background: $violet;
  color: $white !important;
  font-size: $font-14 !important;
  border: 1px solid transparent;
  font-family: "Nunito Sans", sans-serif !important;
  mat-icon {
    color: $white;
  }
}

.leave-type {
  font-family: Nunito Sans;
  font-size: $size-14;
  font-style: normal;
  font-weight: 700;
}

ul.balance-leave-list {
  padding: 0;
  list-style: none;
}
.balance-leave-list li {
  border-bottom: 1px solid $border-white;
  display: flex;
  justify-content: space-between;

  span {
    color: $dark-blue;
    font-size: $font-14;
    font-weight: 700;

    &.balanced-leave {
      font-weight: 400;
    }
  }
}

.balance-leave-list li:last-child {
  border-bottom: none;
}

.show-calendar-skeleton-mobile {
  display: none;
}

.show-calendar-skeleton-desktop {
  display: block;
}

.skeleton-leave-margin-left-auto {
  margin-left: auto;
}
.skeleton-leave-calendar-main-block {
  width: 100%;
  margin-left: 0px;
}
.skeleton-leave-calendar-block-left {
  border-top: 4px solid $border-white;
  padding-left: 0;
  height: 603px;
  border-bottom: 4px solid $border-white;
}
.skeleton-leave-calendar-block-center {
  border-top: 4px solid $border-white;
  height: 603px;
  border-bottom: 4px solid $border-white;
}
.skeleton-leave-calendar-block-right {
  border-top: 4px solid $border-white;
  padding-right: 0;
  height: 603px;
  border-bottom: 4px solid $border-white;
}

::ng-deep.select-region-menu-panel {
  &.mat-mdc-menu-panel {
    height: 200px;
    border-radius: 8px;
    margin-top: 8px;
    letter-spacing: 0;
  }
  .mat-mdc-menu-content,
  .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
    letter-spacing: 0;
  }
}

/// #######################################
/// Media Query
/// #######################################

@media (min-width: 350px) and (max-width: 576px) {
  .button {
    width: 100%;
  }

  .m-res-bottom-24 {
    margin-bottom: 24px;
  }

  .show-calendar-skeleton-desktop {
    display: none;
  }
  .show-calendar-skeleton-mobile {
    display: block;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .show-calendar-skeleton-desktop {
    display: none;
  }
  .show-calendar-skeleton-mobile {
    display: block;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
}

@media (min-width: 991px) and (max-width: 1400px) {
}
