@import 'src/styles.scss';

.white-box{
  min-height: 80px;
  background-color: $white;
}

.white-box-approvals {
  border: $size-0;
  border-radius: $size-8 $size-8 $size-0 $size-0;
}

.red-circle-number {
  width: $size-32;
  height: $size-32;
}

.grey-background {
  background: $border-white;
  padding: $size-12 $size-16;
}

.view-more-card {
  display: flex;
  justify-content: center;
  margin-top: 44px;
  margin-bottom: $size-18;
}

@media (min-width: 350px) and (max-width: 768px) {
  .red-circle-number {
    width: $size-24;
    height: $size-24;
  }
}