<app-header></app-header>

<div class="container-fluid container-97">
  <!-- Leave Title -->
  <div class="row">
    <div class="colp-xl-12 col-md-12 col-sm-12">
      <app-title [title]="labelsLeaveModule.pageTitle"></app-title>
    </div>
  </div>
  <div class="myai-profile-container">
    <!-- Tabs -->
    <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    #tabGroup
    class="mat-tab-group"
      (selectedTabChange)="onTabChangeInLeave($event)"
    >
      <mat-tab
        [label]="labelsLeaveModule?.tabDashboard?.labelTab"
        class="m-bottom-24"
      >
        <app-dashboard
          (openTabEvent)="openTab()"
          [dashboardLabels]="labelsLeaveModule.tabDashboard"
        ></app-dashboard>
      </mat-tab>
      <mat-tab [label]="labelsLeaveModule?.tabNewRequest?.labelTab">
        <app-new-request
          (openRequestLeaveTabEvent)="openRequestLeaveTab()"
          [newRequestLabels]="labelsLeaveModule?.tabNewRequest"
          [uploadDocumentLabels]="labelsLeaveModule?.uploadDocument"
          [siteSection]="labelsLeaveModule.pageTitle"
        ></app-new-request>
      </mat-tab>
      <mat-tab [label]="labelsLeaveModule?.tabRequestedLeave?.labelTab">
        <app-requested-leave
          [newRequestLabels]="labelsLeaveModule?.tabNewRequest"
          [requestedLeaveLabels]="labelsLeaveModule?.tabRequestedLeave"
          [dialogViewEditLabels]="labelsLeaveModule?.dialogViewEdit"
          [dialogDeleteLeaveLabels]="labelsLeaveModule?.dialogDeleteLeave"
          [uploadDocumentLabels]="labelsLeaveModule?.uploadDocument"
          [siteSection]="labelsLeaveModule.pageTitle"
        ></app-requested-leave>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
