<div class="ai-header-toolbar ai-{{ deviceType }}">
  <div class="ai-toolbar-title">
    {{
      currentDate.toLocaleDateString("en-US", {
        month: "long",
        year: "numeric"
      })
    }}
  </div>

  <div class="ai-btn-group">
    <button mat-icon-button class="ai-btn" (click)="handlePreviousMonth()">
      <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
    </button>

    <button mat-icon-button class="ai-btn" (click)="handleNextMonth()">
      <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
    </button>
  </div>
</div>
